@font-face {
	font-family: Rubik;
	src: url(../fonts/rubik/Rubik-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Rubik;
	src: url(../fonts/rubik/Rubik-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Rubik;
	src: url(../fonts/rubik/Rubik-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: Rubik;
	src: url(../fonts/rubik/Rubik-Bold.ttf);
	font-weight: 700;
}

:root {
	--primary-color: #008DD2;
	--secondary--color: #FF993F;
	--text-color: #c5bbec;
}

body {
	margin: 0;
	
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	color: #292929;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
	background: var(--secondary--color);
	}


* { 
	box-sizing: border-box; 
}

*, *:focus { outline: none; }

a { 
	text-decoration: none;
	color: white; 
}
a:hover {
	color: var(--secondary--color);
	transition: 0.5s;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button, 
input, 
input::placeholder, 
textarea {
	font-family: "Rubik", sans-serif;
	border: 0;
}		