.footer {
	background-color: #008DD2;
	margin-top: 52px;
	overflow: hidden;
	/*padding-bottom: 16px;*/
	/*padding: 16px 0;*/
}

.footer__content {
	display: flex;
	max-width: none;
}

.footer__logo-container {
	/*display: flex;*/
	/*align-items: flex-end;*/
	width: 246px;
	position: relative;

	margin-bottom: 16px;
}

.footer__logo {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: bottom;
	/*width: 240px;*/
	/*object-fit: contain;*/

	filter: brightness(0) invert(1);
}

.footer__links {
	margin-top: 40px;
	padding-left: 52px;	
	display: flex;
}

.footer__link {
	font-weight: 400;
	color: white;
	font-size: 18px;
} 

.footer__link:not(:last-child) {
	margin-right: 52px;
}

.footer__info {
	margin-top: 40px;
	margin-left: auto;
	color: white;
	text-align: right;
	font-size: 18px;

	margin-bottom: 16px;
}

.footer__info div:first-child i {
	margin-right: 18px;
}

.footer__info div:nth-child(2) i {
	margin-right: 8px;
}

.footer__mail {
	margin-top: 8px;
	font-weight: 400;
}

.footer__company-name {
	margin-top: 24px;
	font-size: 12px;
	font-weight: 400;
}

.footer__company-name br:last-child {
	display: none;
}

.footer__kirill {
	color: white;
	position: absolute;
	bottom: -5px;
	left: 0;
	margin-left: 52px;
}

.footer__kirill a {
	font-weight: 400;
	font-size: 17px;
}

.footer__kirill div {
	font-size: 12px;
	letter-spacing: 0.11em;
	position: relative;
	top: -3px;
}

.footer__center {
	position: relative;
	margin-bottom: 16px;
}

.footer__container-for-mobile {
	display: flex;
	flex: 1;
}

@media screen and (max-width: 1300px)
{
	.footer__container-for-mobile {
		flex-direction: column;
	}

	.footer__info {
		margin-top: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 24px;
	}

	.footer__mail {
		margin-top: 0;
		margin-left: 32px;
	}

	.footer__info div:first-child i,
	.footer__info div:nth-child(2) i {
		margin-right: 8px;
	}

	.footer__company-name {
		flex-basis: 100%;
		margin-bottom: 24px;
		margin-bottom: 0;
	}

	.footer__center {
		margin-bottom: 0;
		position: inherit;
	}

	.footer__links {
		justify-content: flex-end;
	}

	.footer__link:not(:last-child) {
		margin-right: 0;
	}

	.footer__link:not(:first-child) {
		margin-left: 52px;
	}

	.footer__logo-container {
		height: 90px;
		width: 180px;
		margin-top: 16px;
	}

	.footer__kirill {
		bottom: calc(16px - 3px);
		margin-left: 0;
		left: 0;
	}

	.footer__content {
		position: relative;
	}
}

@media screen and (max-width: 1024px)
{
	.footer__content {
		flex-direction: column;
	}

	.footer__links {
		justify-content: space-between;
		padding: 0;
		margin-top: 32px;
		flex-wrap: wrap;
		margin-right: -16px;
	}

	.footer__link:not(:first-child) {
		margin-left: 0px;
	}

	.footer__link {
		margin-right: 16px;
	}

	
	.footer__link:not(:last-child) {
		margin-right: 16px;
	}

	.footer__info {
		width: 100%;
		justify-content: space-between;
		margin-bottom: 16px;
	} 

	.footer__logo-container {
		height: 60px;
		width: 120px;
		margin-bottom: 0;
	}

	.footer__kirill {
		bottom: calc(16px - 3px);
	}
}

@media screen and (max-width: 425px)
{
	.footer {
		margin-top: 32px;
	}

	.footer__links {
		margin-bottom: -16px;
		justify-content: flex-start;
	} 

	.footer__link {
		margin-bottom: 16px;
	}

	.footer__mail,
	.footer__phone {
		font-size: 16px;
		margin-left: 0;
	}

	.footer__mail i,
	.footer__phone i {
		margin-right: 4px;
	}
}

@media screen and (max-width: 380px)
{
	.footer__company-name {
		font-size: 8px;
	}

	.footer__info {
		flex-direction: column;
		justify-content: flex-start;
	}

	.footer__mail,
	.footer__phone {
		text-align: left;
	}

	.footer__mail {
		margin-top: 8px;
	}
} 