.main-container {
	margin-left:  83px;
	margin-right: 83px;
}

@media screen and (max-width: 768px)
{
	.main-container {
		margin-left:  16px;
		margin-right: 16px;
	}
}

.main-limited {
	max-width: 1600px;
}

@media screen and (min-width: 1600px)
{
	.main-limited {
		margin: auto;
	}
}

.main-title {
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #008DD2;

	margin-top: 40px;
	margin-bottom: 32px;
}

@media screen and (max-width: 425px)
{
	.main-title {
		font-size: 24px;
		margin-bottom: 24px;	
		margin-top: 20px;
	}
}

.main-text-blue {
	color: #008DD2;
	font-weight: 400;
}

.main-btn {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.02em;
	color: white;
	padding: 16px 32px;
	text-align: center;

	border-radius: 4px;
	background-color: #008DD2;
	box-shadow: 0px 4px 8px rgba(0, 141, 210, 0.25);
	transition: all .2s linear;
}

.main-btn:hover, .main-btn:focus {
	cursor: pointer;
	color: white;
	background-color: #FF993F;
	box-shadow: 0px 4px 8px rgba(255, 167, 89, 0.25);
}

.main-popup {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 100;

	display: flex;
	align-items: center;

	padding: 12px 20px;
	border-radius: 7px;	

	background: #FAF7F8;
	box-shadow: 4px 4px 10px 2px rgba(75, 81, 91, 0.1), -4px -4px 10px 2px rgba(75, 81, 91, 0.1);

	transform: translateX(calc(100% + 16px));
	transition: transform .25s linear;
}

.main-popup__image {
	width: 40px;
	height: 40px;

	background-image: url(../img/popup.png);
	background-size: contain;
}

.main-popup__text {
	line-height: 24px;

	margin-left: 20px;
	margin-right: 24px;
}

.main-popup__close {
	position: absolute;
	top: 8px;
	right: 8px;

	color: #008DD2;
	font-size: 18px;
	font-weight: 400;

	background-color: white;
	
	opacity: 0.75;
	transition: opacity .1s linear, 
}

.main-popup__close:hover {
	cursor: pointer;
	opacity: 1;
}
