.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-left: 83px;
	margin-right: 83px;
	z-index: 2;
}

.navigation__logo {
	width: 120px;
}

.navigation__list {
	display: flex;
}

.navigation__item {
	margin-top: 32px;
	margin-bottom: 32px;

	color: white;
	font-weight: 400;
	font-size: 18px;
}

.navigation__item:not(:last-child) {
	margin-right: 52px;
}

@media screen and (max-width: 768px)
{
	.navigation {
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media screen and (max-width: 425px)
{
	.navigation {
		margin: 0;
		flex-direction: column;
		background-color: #008DD2;
		position: relative;
	}

	.navigation__left-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 16px;
	}

	.navigation__hamburger-container {
		width: auto;
		display: flex;
		align-items: center;
		max-height: 36px;
	}

	.navigation__hamburger .line {
		width: 30px;
		height: 4px;
		background-color: #ecf0f1;
		border-radius: 4px;
		display: block;
		margin: 6px auto;
		transition: all 0.3s ease-in-out;
	}

	.navigation__hamburger:hover{
		cursor: pointer;
	}

	.navigation__hamburger {
		position: relative;
		transition: all 0.3s ease-in-out;
		max-height: 36px;
	}

	.navigation__hamburger.is-active {
		transform: rotate(45deg);
	}

	.navigation__hamburger.is-active .line {
		width: 30px;
	}

	.navigation__hamburger.is-active .line:nth-child(2) {
		opacity: 0;
	}

	.navigation__hamburger.is-active .line:nth-child(1) {
		transform: translateY(9px);
	}

	.navigation__hamburger.is-active .line:nth-child(3) {
		transform: translateY(-11.5px) rotate(90deg);
	}

	.navigation__right-container {
		width: 100%;
		background-color: #008DD2;
		position: absolute;
		top: 100%;
		z-index: 1;

		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s linear;
	}

	.navigation__right-container--active {
		max-height: 500px;
	}

	.navigation__list {
		flex-direction: column;
		padding: 16px;

		width: 100%;
	}

	.navigation__item {
		margin-top: 0;
		margin-bottom: 0;
		
		text-align: left;
		margin-bottom: 16px;
	}

	.navigation__item:not(:last-child) {
		margin-right: 0;
	}

	.navigation__logo {
		width: 72px;
		max-height: 35px;
		object-fit: contain;
		filter: brightness(0) invert(1);
	}
}
