.works {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 24px;
	margin-bottom: 52px;

	/*min-width: 1400px;*/
}

.last-works__item {
	position: relative;
	border-radius: 7px;
}

.last-works__image-container {
	position: relative;
}

.last-works__image-container::after {
	content: '';
	display: block;
	padding-bottom: 155%;
}

.last-works__image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(14, 3, 55, 0.7) 100%);
	border-radius: 7px;
}

.last-works__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	border-radius: 7px;
	object-fit: cover;
}

.last-works__text {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	padding: 0 24px 24px 24px;
}

.last-works__title {
	font-size: 20px;
	letter-spacing: 0.06em;
	font-weight: 400;
	margin-bottom: 8px;
	display: block;
}

.last-works__location {
	line-height: 24px;
	display: block;
}

.last-works-header {
	border: 2px solid #008DD2;
	border-radius: 7px;
	position: relative;
}

.last-works-header::after {
	content: '';
	display: block;
	padding-bottom: 155%;
}

.last-works-header__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 24px;
}

.last-works-header__title {
	font-size: 32px;
	line-height: 38px;
	letter-spacing: 0.06em;
	color: #008DD2;
}

.last-works-header__text {
	line-height: 24px;
	margin-top: 24px;
}

.last-works-header__link {
	color: #007aff;
	margin-top: 24px;
	line-height: 24px;
	font-size: 18px;
}

.last-works-header__link i {
	margin-left: 12px;
	font-size: 28px;
	font-weight: 400;

	position: relative;
	top: 6px;
}

@media screen and (max-width: 1300px)
{
	.works {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.last-works-header__content {
		justify-content: flex-start;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 64px;
	}

	.last-works-header__link {
		margin-top: auto;
	}
}

@media screen and (max-width: 1024px)
{
	.works {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 425px)
{
	.works {
		grid-template-columns: 1fr;
		margin-bottom: 32px;
	}

	.last-works-header__content {
		justify-content: flex-start;
		position: relative;
		padding: 16px;
	}

	.last-works-header::after {
		padding-bottom: unset;
	}

	.last-works__image-container::after {
		padding-bottom: 75%;
	}

	.last-works-header__link {
		margin-top: 24px;
	}

	.last-works__text {
		padding: 16px;
	}
}

@media screen and (min-width: 1600px)
{
	.last-works-header__content {
		justify-content: flex-start;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 64px;
	}

	.last-works-header__text {
		margin-top: 64px;
	}

	.last-works-header__link {
		margin-top: auto;
	}	
}

.services-container {
	background-color: #FAF7F8;
	overflow: auto;
	padding-bottom: 40px;
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 32px 32px;
	justify-items: center;
	/*overflow: hidden;*/
	padding: 0 52px;
}

.services__item {
	position: relative;
	border-radius: 8px;
	background-color: white;
	box-shadow: 4px 4px 10px 2px rgba(75, 81, 91, 0.1), -4px -4px 10px 2px rgba(75, 81, 91, 0.1);
	width: 100%;
	max-width: 250px;

} 

.services__item::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.services__image {
	width: 48%;
	height: 48%;
	
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services__circle {
	position: absolute;
	width: 40%;
	height: 40%;
	border-radius: 50%;

	position: absolute;
	top: 28%;
	left: 17%;

	background: linear-gradient(180deg, rgba(162, 217, 247, 0.2) 0%, rgba(74, 179, 237, 0.2) 100%);
}

.services__text {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #292929;
	bottom: 0;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 16px;
}

@media screen and (max-width: 1240px)
{
	.services__text { 
		font-size: 14px;

		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 16px;
	}
} 

@media screen and (max-width: 1100px)
{
	.services__text { 
		font-size: 12px;
	}

	.services__image {
		width: 40%;
		height: 40%;

		top: 32%;
	}

	.services__circle {
		width: 32%;
		height: 32%;

		top: 24%;
		left: 22%;
	}
}

@media screen and (max-width: 950px)
{
	.services__text { 
		font-size: 10px;
	}

	.services {
		padding: 0;
	}
}

@media screen and (max-width: 425px)
{
	.services {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.services {
		grid-gap: 12px 12px;
	}

	.services__text { 
		font-size: 12px;

		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 380px)
{
	.services__text { 
		font-size: 12px;
	}
}
@media screen and (max-width: 320px)
{
	.services__text { 
		font-size: 10px;
	}
}
.start-work-container {
	/*max-width: 1600px;*/
	/*margin: auto;*/

	/*margin-top: 60px;*/
	overflow: auto;
}

.start-work {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 52px 32px;

	padding: 0 83px;
}

.start-work__item {
	display: flex;
}

.start-work__number {
	border: solid 2px #008DD2;
	border-radius: 50%;

	color: #008DD2;
	font-size: 36px;
	letter-spacing: 0.06em;
	font-weight: 400;

	width: 80px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.start-work__text {
	width: calc(100% - 80px);
	padding-left: 24px;
	padding-top: 4px;
	line-height: 22px;
}

@media screen and (max-width: 1240px)
{
	.start-work {
		padding: 0;
	}	
}

@media screen and (max-width: 1024px)
{
	.start-work {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 768px)
{
	.start-work {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}	

	.start-work__text {
		max-width: 400px;
	}

	.start-work__item {
		align-items: center;
	}
}

@media screen and (max-width: 425px)
{
	.start-work-container {
		margin-top: 0;
	}

	.start-work__item {
		align-items: flex-start;

	}

	.start-work__text {
		line-height: 20px;
		width: calc(100% - 40px);
		padding-top: 8px;
	}

	.start-work__number {
		width: 64px;
		height: 60px;
		font-size: 28px;
	}
}