.works {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px 32px;
}

.last-works__item {
	position: relative;
	border-radius: 7px;
}

.last-works__image-container {
	position: relative;
}

.last-works__image-container::after {
	content: '';
	display: block;
	padding-bottom: 145%;
}

.last-works__image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(14, 3, 55, 0.7) 100%);
	border-radius: 7px;
}

.last-works__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	border-radius: 7px;
	object-fit: cover;
}

.last-works__text {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	padding: 0 24px 24px 24px;
}

.last-works__title {
	font-size: 20px;
	letter-spacing: 0.06em;
	font-weight: 400;
	margin-bottom: 8px;
	display: block;
}

.last-works__location {
	line-height: 24px;
	display: block;
}

@media screen and (max-width: 1240px)
{
	.works {
		grid-template-columns: 1fr 1fr 1fr;
	}	
}

@media screen and (max-width: 768px)
{
	.works {
		grid-template-columns: 1fr 1fr;
	}	
}

@media screen and (max-width: 425px)
{
	.works {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}	
}